<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permisos de ubicación -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Permiso para notificaciones (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Solo si vas a rastrear en segundo plano (no lo actives si no es necesario) -->
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/> -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="MoviPet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UINavegacion">
        <activity
            android:name="com.example.uinavegacion.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.UINavegacion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tu API Key de Google Maps (reemplaza YOUR_KEY) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD0EDrlUKp1r_c4jyifAKUvLj9cj82Zl4A"/>
    </application>

</manifest>